# This is Git's per-user configuration file
[user]
  name = 
  email = 
  signingkey = 
[credential]
  helper = osxkeychain
[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
[apply]
  whitespace = fix
[push]
  default = simple
[pull]
  rebase = true
[rebase]
  autosquash = true
[core]
  autocrlf = input
  safecrlf = true
  editor = vim
#  pager = diff-so-fancy
  pager = delta
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true   # use n and N to move between diff sections
  side-by-side = true
  syntax-theme = zenburn

  # delta detects terminal colors automatically; set on e of these to disable auto-detection
  #dark = true
  #light = true
[diff]
  colorMoved = default
[pager]
#  diff = diff-so-fancy | less --tabs=4 -RFX
#  show = diff-so-fancy | less --tabs=4 -RFX
[init]
  defaultBranch = main
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = 227
  frag = magenta bold
  commit = 227 bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[merge]
  log = true
  ff = false
  conflictstyle = diff3
[url "git@github.com:"]
  insteadOf = https://github.com/
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com"
#[url "git@gist.github.com"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com"
[include]
  path = ~/.dotfiles/config/git/.gitconfig-user
[includeIf "gitdir:~/Work/"]
  path = ~/.dotfiles/config/git/.gitconfig-work
[gpg]
	format = ssh
