[user]
	name = Drew Nall
	email = devnall@gmail.com
[includeIf "gitdir:~/Work/"]
  path = ~/Work/.gitconfig
[credential]
	helper = osxkeychain
[push]
	default = simple
[core]
	autocrlf = input
	safecrlf = true
	editor = /usr/bin/vim
[alias]
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
[color "diff-highlight"]
	oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 227
  frag = magenta bold
  commit = 227 bold
  old = red bold
  new = green bold
  whitespace = red reverse
[url "git@github.com:"]
	insteadOf = https://github.com/
